/* p{
    text-align: left;
}
/* h1{
    text-align: center;
    text-decoration: blue dotted underline;
 } */
/* a{
    text-decoration: none;
}


#one{
    font-family: Arial;
}

#two{
    font-family: 'Segoe UI';
}  */

/* #one{
    font-size: 25px;
    line-height: normal;
    text-transform: capitalize;
}

#three{
    font-size: 10px;
} */
/* *{
    font-family: "Times New Roman";
}
h1{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} */
/* div{
    height: 100px;
    background-color: pink;
    width: 100px;
    /* border-width: 2px;
    border-stle: solid;
    border-color: brown; 
    border: 2px solid brown;
    /* border-radius: 50%; 
    padding: 25px;
    margin: 25px;
    
   
} */

/* h1{
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    /* border-width: 3px;
    border-style: dashed;
    border-color: black; 
    border: 3px dashed black;
    text-align: center;
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */
*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}



